@page
@model IF.Manager.ClassDesigner.Pages.Mapper.ClassMapperFormModel

@{
    Layout = "_ModalLayout";


    List<SelectListItem> classes = ViewData["classes"] as List<SelectListItem>;


    @if (Model != null)
    {
        foreach (var property in classes)
        {
            if (property.Value == Model.Form.IFModelId.ToString())
            {
                property.Selected = true;
            }
        }
    }

    List<SelectListItem> models = ViewData["models"] as List<SelectListItem>;


    @if (Model != null)
    {
        foreach (var property in models)
        {
            if (property.Value == Model.Form.IFClassId.ToString())
            {
                property.Selected = true;
            }
        }
    }




}


<form>
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Name">Name</label>
                @Html.TextBoxFor(m => m.Form.Name, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Description">Description</label>
                @Html.TextBoxFor(m => m.Form.Description, new { @class = "form-control" })
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="IFClassId">Class</label>
                @Html.DropDownList($"Form.IFClassId", classes, "Select", new { @class = "form-control" })
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="IFModelId">Model</label>
                @Html.DropDownList($"Form.IFModelId", models, "Select", new { @class = "form-control" })
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary"
                    @{ var handler = "Add"; if (this.Model.Form.Id > 0) { handler = "Update"; } }
                    if-ajax-action="@Url.Page("/ClassDesigner/Mapper/ClassMapperForm",handler)"
                    if-ajax-form-submit="true"
                    if-ajax-method="post"
                    if-ajax-close-modal-on-success="true"
                    if-ajax-update-id="ClassMapperListDiv">
                Save
            </button>
        </div>
    </div>
    @Html.HiddenFor(model => model.Form.Id)
</form>

