@model IF.Manager.Contracts.Model.IFPageFormItemModelProperty

@using IF.Web.Mvc.Extensions
@{
    Layout = null;
    var index = Guid.NewGuid();
    List<SelectListItem> model_properties = ViewData["model_properties"] as List<SelectListItem>;
    List<SelectListItem> form_items = ViewData["form_items"] as List<SelectListItem>;




    foreach (var property in model_properties)
    {

        property.Selected = false;

        if (property.Value == Model.IFModelPropertyId.ToString())
        {
            property.Selected = true;
        }
    }


    foreach (var formItem in form_items)
    {
        formItem.Selected = false;
        if (formItem.Value == Model.IFPageFormItemId.ToString())
        {
            formItem.Selected = true;
        }
    }



}

<tr id="@index">
    <td>
        <div class="form-group">
            @Html.DropDownList($"Form[{index}].IFModelPropertyId", model_properties, "Select", new { @class = "form-control" })
        </div>
    </td>


    <td>
        <div class="form-group">
            @Html.DropDownList($"Form[{index}].IFPageFormItemId", form_items, "Select", new { @class = "form-control" })
        </div>
    </td>

    <td>
        <input type="hidden" name="Form.Index" value="@index" />
        <input type="hidden" name="Form[@index].Id" value="@Model.Id" />
    </td>
    <td>
        <a class="btn btn-primary"
           href="@Url.Page("/Form/Model/ModelForm","MoveModelItemUpOne", new { Id = Model.Id,FormId = Model.IFPageForm.Id })"
           if-ajax="true"
           if-ajax-method="post"
           if-ajax-insertion-mode="replace"
           if-anti-forgery-token="@Context.GetAntiforgeryToken()"
           if-ajax-update-id="ModelItemListDiv">
            &#8593;
        </a>

        &nbsp;

        <a class="btn btn-primary"
           href="@Url.Page("/Form/Model/ModelForm","MoveModelItemDownOne", new { Id = Model.Id,FormId = Model.IFPageForm.Id })"
           if-ajax="true"
           if-ajax-method="post"
           if-ajax-insertion-mode="replace"
           if-anti-forgery-token="@Context.GetAntiforgeryToken()"
           if-ajax-update-id="ModelItemListDiv">
            &#8595;
        </a>

    </td>
    <td>
        <button onclick="deleteOrder('@index')">-</button>
    </td>
    @if (Model.IFPageFormItem != null)
    {
    @if (Model.IFPageFormItem.Name == IF.Manager.Contracts.Enum.FormModelType.DropDown.ToString())
    {
        <td>
            <a class="btn btn-primary"
               href="@Url.Page("/Form/DropDown/DropDownForm", new { IFPageFormItemModelPropertyId = Model.Id, ObjectId = Model.ObjectId, IFQueryId = Model.IFPageForm.IFQueryId })"
               if-ajax="true"
               if-ajax-method="get"
               if-ajax-insertion-mode="replace"
               if-ajax-show-dialog="true"
               if-ajax-modal-id="@Guid.NewGuid()">
                Query
            </a>

        </td>
    }
    }
</tr>


<script>
    function deleteOrder(index) {
        var id = "table#EmptyFormItem tr#" + index;
        $(id).remove();
        return false;
    }
</script>
