@page
@model IF.Manager.Command.Pages.Filter.CommandFilterModel


@{
    Layout = "_ModalLayout";
    var ops = Html.GetEnumSelectList<IF.Manager.Contracts.Enum.QueryConditionOperator>();

    foreach (var op in ops)
    {
        if (op.Value == ((int)Model.Form.First().ConditionOperator).ToString())
        {
            op.Selected = true;
        }
    }

}

<form class="form-inline">
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">

                <label for="ConditionOperator">Operator</label>
                @Html.DropDownList($"Form.ConditionOperator", ops, "Select", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <table class="table table-striped table-sm" id="EmptyFormItem">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Condition</th>
                        <th>Value</th>
                    </tr>
                </thead>

                @for (int i = 0; i < Model.Form.Count; i++)
                {
                    await Html.RenderPartialAsync("_CommandFilterFormItem", Model.Form[i]);
                }

            </table>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <a class="btn btn-primary"
               href="@Url.Page("/Command/Filter/CommandFilterForm","EmptyFormItemPartial",new { Id = Model.CommandId })"
               if-ajax="true"
               if-ajax-method="get"
               if-ajax-insertion-mode="after"
               if-ajax-update-id="EmptyFormItem">
                +
            </a>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary"
                    if-ajax-action="@Url.Page("/Command/Filter/CommandFilterForm",new { Id = Model.CommandId })"
                    if-ajax-form-submit="true"
                    if-ajax-method="post"
                    if-ajax-close-modal-on-success="true"
                    if-ajax-on-success-refresh="true"
                    if-ajax-update-id="CommandListDiv">
                Kaydet
            </button>
        </div>
    </div>



    @Html.HiddenFor(m => m.CommandId)
</form>




