@model IF.Manager.Contracts.Dto.QueryFilterItemDto

@{
    Layout = null;
    List<SelectListItem> entities = ViewData["entities"] as List<SelectListItem>;
    List<SelectListItem> formModelProps = ViewData["formModelProps"] as List<SelectListItem>;
    List<SelectListItem> page_parameters = ViewData["page_parameters"] as List<SelectListItem>;


    var filterOperators = Html.GetEnumSelectList<IF.Manager.Contracts.Enum.QueryFilterOperator>();


    var index = Guid.NewGuid();

    foreach (var entity in entities)
    {
        if (entity.Value == Model.EntityPropertyId.ToString())
        {
            entity.Selected = true;
        }
    }

    foreach (var prop in formModelProps)
    {
        if (prop.Value == Model.FormModelPropertyId.ToString())
        {
            prop.Selected = true;
        }
    }

    foreach (var prop in page_parameters)
    {
        if (prop.Value == Model.PageParameterId.ToString())
        {
            prop.Selected = true;
        }
    }

    foreach (var op in filterOperators)
    {
        if (op.Value == ((int)Model.FilterOperator).ToString())
        {
            op.Selected = true;
        }
    }


}

<tr id="@index">
    <td>
        <div class="form-group">

            @Html.DropDownList($"Form.Items[{index}].EntityPropertyId", entities, "Select", new { @class = "form-control" })

        </div>
    </td>

    <td>
        <div class="form-group">

            @Html.DropDownList($"Form.Items[{index}].FilterOperator", filterOperators, "Select", new { @class = "form-control" })
        </div>
    </td>



    <td>
        <div class="form-group">

            <input type="text" name="Form.Items[@index].Value" value="@Model.Value" class="form-control" />
        </div>
    </td>

    <td>
        <div class="form-group">
            @Html.DropDownList($"Form.Items[{index}].FormModelPropertyId", formModelProps, "Select", new { @class = "form-control" })
        </div>
    </td>

    <td>
        <div class="form-group">
            @Html.DropDownList($"Form.Items[{index}].PageParameterId", page_parameters, "Select", new { @class = "form-control" })
        </div>
    </td>

    <td>
        <input type="hidden" name="Form.Items.Index" value="@index" />
        <input type="hidden" name="Form.Items[@index].Id" value="@Model.Id" />
    </td>
    <td><button onclick="deleteFilter('@index')">-</button></td>
</tr>


<script>
    function deleteFilter(index) {
        debugger;
        var id = "table#EmptyFormItem tr#" + index;
        $(id).remove();
        return false;
    }
</script>