@model IF.Manager.Contracts.Dto.EntityRelationDto

@{
    Layout = null;
    List<SelectListItem> entities = ViewData["entities"] as List<SelectListItem>;
    var index = Guid.NewGuid();
    ViewData["Index"] = index;
    Model.Index = index;
}

<tr>

    <td>
        <div class="form-group">
            @if (Model.IFRelatedEntityId > 0)
            {
                @entities.Single(e => e.Value == Model.IFRelatedEntityId.ToString()).Text
            }
            else
            {
                @Html.DropDownList($"Form[{index}].IFRelatedEntityId", entities, "Select", new { @class = "form-control" })
            }
        </div>
    </td>
    <td>
        <div class="form-group">
            @if (Model.EntityRelationType != IF.Manager.Contracts.Enum.EntityRelationType.None)
            {
                @Model.EntityRelationType.ToString()
            }
            else
            {
                @Html.DropDownList($"Form[{index}].EntityRelationType", Html.GetEnumSelectList<IF.Manager.Contracts.Enum.EntityRelationType>(), "Select", new { @class = "form-control" })
            }
        </div>
    </td>
    <td>
        <div class="form-group" id="PrimaryKeyPropertyDropDown_@index">

            @if (Model.ForeignKeyPropertyId > 0)
            {
               @Model.ForeignKeyPropertyName
            }
        </div>

    </td>
    <td>
        <div class="form-group">
            @if (Model.Prefix != null)
            {
                @Model.Prefix
            }
            else
            {
            <input type="text" name="Form.[@index].Prefix" value="@Model.Prefix" class="form-control" />
            }
        </div>
    </td>
    <td>
        <input type="hidden" name="Form.Index" value="@index" />
        <input type="hidden" name="Form[@index].Id" value="@Model.Id" />
    </td>

</tr>


<script>
    var index = '@index';
    $('#Form_' + index + '__IFRelatedEntityId').on('change', function (e) {

        var valueSelected = this.value;
        debugger;
        $.ajax({
            type: 'GET',
            url: '@Url.Page("/Relations/Form", "PrimaryKeyDropDownPropertyPartial")',
            data: { IFEntityId: valueSelected, Index:'@index'},
            success: function (data) {
                debugger;
                $("#PrimaryKeyPropertyDropDown_"+index).html(data);
            }
        });
    });

</script>