@model IF.Manager.Contracts.Model.IFCommand

@{
    Layout = null;
    List<SelectListItem> commands = ViewData["commands"] as List<SelectListItem>;
    List<SelectListItem> mappers = ViewData["mappers"] as List<SelectListItem>;
    var index = Guid.NewGuid();

    

    foreach (var command in commands)
    {
        command.Selected = false;
        if (command.Value == Model.Id.ToString())
        {
            command.Selected = true;
        }
    }


    foreach (var mapper in mappers)
    {
        mapper.Selected = false;
        if (!Model.IFClassMapperId.HasValue) { continue; };

        if (mapper.Value == Model.IFClassMapperId.ToString())
        {
            mapper.Selected = true;
        }
    }


}

<tr id="@index">
    <td>
        <div class="form-group">

            @Html.DropDownList($"Form[{index}].Id", commands, "Select", new { @class = "form-control" })

        </div>
    </td>

    <td>
        <div class="form-group">

            @Html.DropDownList($"Form[{index}].IFClassMapperId", mappers, "Select", new { @class = "form-control" })
        </div>
    </td>



    <td>
        <input type="hidden" name="Form.Index" value="@index" />
        <input type="hidden" name="Form[@index].Id" value="@Model.Id" />
    </td>
    <td><button onclick="deleteOrder('@index')">-</button></td>
</tr>


<script>
    function deleteOrder(index) {

        var id = "table#EmptyFormItem tr#" + index;
        $(id).remove();
        return false;
    }
</script>