@page
@model IF.Manager.ClassDesigner.Pages.Mapper.ClassMapperFormModel

@{
    Layout = "_ModalLayout";
    List<SelectListItem> types = ViewData["types"] as List<SelectListItem>;

    var fromTypes = Html.GetEnumSelectList<IF.Manager.Service.Enum.IFClassType>();

    foreach (var item in fromTypes)
    {
        if (item.Value == ((int)Model.Form.FromType).ToString())
        {
            item.Selected = true;
        }
    }

    var toTypes = Html.GetEnumSelectList<IF.Manager.Service.Enum.IFClassType>();

    foreach (var item in toTypes)
    {
        if (item.Value == ((int)Model.Form.ToType).ToString())
        {
            item.Selected = true;
        }
    }

}


<form>
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Name">Name</label>
                @Html.TextBoxFor(m => m.Form.Name, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Description">Description</label>
                @Html.TextBoxFor(m => m.Form.Description, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="FromClassType">From ClassType</label>
                @Html.DropDownList($"Form.FromClassType",fromTypes, "Select", new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row" id="Form_FromClassId">
        @if (Model.Form.FromClassId != 0)
        {
            await Html.RenderPartialAsync("_DropDownFromClass", Model.Form);
        }
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="ToClassType">To ClassType</label>
                @Html.DropDownList($"Form.ToClassType",toTypes, "Select", new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row" id="Form_ToClassId">
        @if (Model.Form.ToClassId != 0)
        {
            await Html.RenderPartialAsync("_DropDownToClass", Model.Form);
        }
    </div>


    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary"
                    @{ var handler = "Add"; if (this.Model.Form.Id > 0) { handler = "Update"; } }
                    if-ajax-action="@Url.Page("/Mapper/ClassMapperForm",handler)"
                    if-ajax-form-submit="true"
                    if-ajax-method="post"
                    if-ajax-close-modal-on-success="true"
                    if-ajax-update-id="ClassMapperListDiv">
                Save
            </button>
        </div>
    </div>
    @Html.HiddenFor(model => model.Form.Id)
</form>


<script>
    $('#Form_FromClassType').on('change', function (e) {

        var valueSelected = this.value;
        //alert(valueSelected);
        //debugger;
        $.ajax({
            type: 'GET',
            url: '@Url.Page("/Mapper/ClassMapperForm", "DropDownFromClassPartial")',
            success: function (data) {
                //debugger;
                $("#Form_FromClassId").html(data);
            }
        });
    });

      $('#Form_ToClassType').on('change', function (e) {

        var valueSelected = this.value;
        //alert(valueSelected);
        //debugger;
        $.ajax({
            type: 'GET',
            url: '@Url.Page("/Mapper/ClassMapperForm", "DropDownToClassPartial")',
            success: function (data) {
                //debugger;
                $("#Form_ToClassId").html(data);
            }
        });
    });


</script>