@model List<List<IF.Manager.Contracts.Dto.EntityDto>>

@{ Layout = null;}




@if (Model != null && Model.Any())
{
    @foreach (var group in Model)
    {

        <div class="row">
            <div class="col-md-12">
                <p style="color:red;" data-toggle="collapse" data-target="#g_@group.First().Prefix" aria-expanded="false" aria-controls="collapseExample">
                    <b>+ @group.First().GroupName</b>
                </p>

            </div>
        </div>
        <div id="g_@group.First().Prefix" class="row collapse">
            <div class="col-md-12">
                @foreach (var item in group)
                {

                    <div  sl-data-label="entity" class="row">
                        <div class="col-md-12">
                            <p data-toggle="collapse" style="color:darkslateblue;" data-target="#e_@item.Name" aria-expanded="false" aria-controls="collapseExample">
                                <b>+@item.Name</b>
                            </p>

                        </div>
                    </div>

                

            <div id="e_@item.Name" class="row collapse">  
                
                <div class="col-md-12">

                    <a class="btn btn-primary"
                       href="@Url.Page("/Entity/Form","Update", new { Id = item.Id })"
                       if-ajax="true"
                       if-ajax-method="get"
                       if-ajax-insertion-mode="replace"
                       if-ajax-show-dialog="true"
                       if-ajax-modal-id="@Guid.NewGuid()"
                       id="EditEntityButton">
                        Edit
                    </a>

                    <a class="btn btn-primary"
                       href="@Url.Page("/Entity/Properties/Form", new { EntityId = item.Id })"
                       if-ajax="true"
                       if-ajax-method="get"
                       if-ajax-insertion-mode="replace"
                       if-ajax-show-dialog="true"
                       if-ajax-modal-id="@Guid.NewGuid()"
                       id="PropertyDesignerButton">
                        Property Designer
                    </a>

                    <a class="btn btn-primary"
                       href="@Url.Page("/Entity/Relations/Form", new { EntityId = item.Id })"
                       if-ajax="true"
                       if-ajax-method="get"
                       if-ajax-insertion-mode="replace"
                       if-ajax-show-dialog="true"
                       if-ajax-modal-id="@Guid.NewGuid()"
                       id="RelationDesignerButton">
                        Relation Designer
                    </a>


                    <br />

                    <a class="btn btn-primary"
                       href="@Url.Page("/Entity/BasicGenerator/Form", new { EntityId = item.Id })"
                       if-ajax="true"
                       if-ajax-method="get"
                       if-ajax-insertion-mode="replace"
                       if-ajax-show-dialog="true"
                       if-ajax-modal-id="@Guid.NewGuid()">
                        Basic Generator
                    </a>

                    <br />
                    <p><b>Properties</b></p>

                    @foreach (var property in item.Properties)
                    {
                        <label sl-data-label="properties">@property.Name</label><br />
                    }

                    <p><b>Relations</b></p>

                    @foreach (var relation in item.Relations)
                    {

                        <label>@relation.RelatedEntityName</label><br />

                    }

                    <p><b>Reverse Relations</b></p>

                    @foreach (var relation in item.ReverseRelations)
                    {

                        @relation.RelatedEntityName<br />

                    }
                </div>



            </div>



                }
            </div>
        </div>
    }
}
else
{
    @:Veri bulunamadı,Lütfen Kriter seçiniz
}

