@page
@model IF.Manager.Entity.Pages.FormModel

@{
    Layout = "_ModalLayout";
    List<SelectListItem> groups = ViewData["groups"] as List<SelectListItem>;
}

<form>
    @Html.AntiForgeryToken()


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="GroupId">Group</label>
                @Html.DropDownList("Form.GroupId", groups, "Select", new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Name">Name</label>
                @Html.TextBoxFor(m => m.Form.Name, new { @class = "form-control" })
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Description">Description</label>
                @Html.TextBoxFor(m => m.Form.Description, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="AuditType">Audit Type</label>
                @Html.DropDownList($"Form.AuditType", Html.GetEnumSelectList<IF.Manager.Service.Enum.IFAuditType>(), "Select", new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-check">
                @Html.CheckBoxFor(m => m.Form.IsSoftDeleted, new { @class = "form-check-input" })
                <label class="form-check-label" for="IsSoftDeleted">Is SoftDelete</label>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary"
                    @{ var handler = "Add"; if (this.Model.Form.Id > 0) { handler = "Update"; } }
                    if-ajax-action="@Url.Page("/Entity/Form",handler)"
                    if-ajax-form-submit="true"
                    if-ajax-method="post"
                    if-ajax-close-modal-on-success="true"
                    if-ajax-update-id="EntityListDiv"
                    id="SaveEntityButton">
                Save

            </button>
        </div>
    </div>
    @Html.HiddenFor(model => model.Form.Id)
</form>


