@model IF.Manager.Contracts.Dto.QueryFilterMapModel

@{
        Layout = "_ModalLayout";

}

<style>
    .vakata-context {
        z-index: 1100
    }
</style>

<form>

    <div id="row">

        <a class="btn btn-primary"
           href="@Url.Page("/Query/Filter/QueryFilterForm",new {QueryId = Model.QueryId })"
           if-ajax="true"
           if-ajax-method="get"
           if-ajax-mode="replace"
           if-ajax-show-dialog="true"
           if-ajax-extradatafunc="setselectedtreenode()"
           if-ajax-modal-id="@Guid.NewGuid()">
            Rules
        </a>
        -

        <a class="btn btn-primary"
           href="@Url.Page("/Query/Filter/QueryFilterForm",new {QueryId = Model.QueryId })"
           if-ajax="true"
           if-ajax-method="get"
           if-ajax-mode="replace"
           if-ajax-show-dialog="true"
           if-ajax-extradatafunc="setselectedtreenode()"
           if-ajax-modal-id="@Guid.NewGuid()">
            Add Group
        </a>
        -
        <a class="btn btn-primary"
           href="@Url.Page("/Query/Filter/QueryFilterForm","Show",new {QueryId = Model.QueryId })"
           if-ajax="true"
           if-ajax-method="get"
           if-ajax-mode="replace"
           if-ajax-show-dialog="true"
           if-ajax-extradatafunc="setselectedtreenode()"
           if-ajax-modal-id="@Guid.NewGuid()">
            Show
        </a>
        

    </div>
    <br />
    <div id="row">
        <div id="FilterMapTree">
            @{await Html.RenderPartialAsync("../Filter/_FilterTree.cshtml", Model.Tree);}
        </div>
    </div>
</form>
